@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom classes for navbar links */
.nav-link {
    @apply px-4 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700;
  }
  
  .mobile-nav-link {
    @apply block px-4 py-2 text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700;
  }
  